<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
                <a class="nav-item  nav-link " href="/">Home</a>
    
                    <a class="nav-item nav-link " href="/login">login</a>
                    <a class="nav-item nav-link" href="/reg">Registration</a> 
              </nav>
              <div class="align-self-center">
              <div class="container">
                           <div class="row">
                                        <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>username:</td><td><input type ="text" class="form-control"/> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>password:</td><td><input type="text" class="form-control"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td><td><button type=button class = "btn btn-success">login</button></td>
                                                    </tr>

                                                </tbody>
                                
                                        
                                                

                                                

                                        </table>

                                           </div> 
                           </div>
              </div>
    
</body>
</html>