<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REGISTRATION</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
                <a class="nav-item  nav-link " href="/">Home</a>
    
                    <a class="nav-item nav-link " href="/login">login</a>
                    <a class="nav-item nav-link" href="reg">Registration</a> 
              </nav>

    <div class="container">
        <div class="row">
           <table class="table">
               <tr><td>Name</td><td><input type="text" class="form-control"/></td></tr>
               <tr><td>Address</td><td><input type="text" class="form-control"/></td></tr>
               <tr><td>Gender</td><td><input type="radio" name="gender" value="male">Male</td><td><input type="radio" name="gender" value="female">Female</td></tr>
                <tr><td>District</td><td>
                    <select class="form-control"><option>Ernakulam</option><option>Idukki</option><option>Thrissur</option>
                    </select>
                    </td></tr>

               <tr><td>D.O.B</td><td><input type="date" class="form-control" /></td> </tr>
               <tr><td>E-mail</td><td><input type="email" class="form-control" /></td></tr>
               <tr><td>Username</td><td><input type="text"class="form-control"/></td></tr>
               <tr><td>Password</td><td><input type="password" class="form-control"/></td></tr>
               <tr><td>Confirm-pswd</td><td><input type="password" class="form-control"/></td></tr>
               <tr><td><button type="reset" class="btn btn-warning">RESET</button></td>
                    <td><button type="submit" class="btn btn-success" >SUBMIT</button></td>
            </tr>




                    
           </table>


        </div>
    </div>
</body>
</html>
